{% extends '_layouts/base.html' %}
{% load thumbnail %}

{% block title %}All Albums{% endblock title %}

{% block headline %}<h2>All Albums</h2>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <ul class="list-group">
                {% for album in object_list %}
                    <li class="list-group-item">
                        <a href="{{ album.get_absolute_url }}{% query_builder request %}">
                            <img src="{% thumbnail album.album_logo 50x50 %}"/>
                            {{ album }}
                        </a>
                        <span class="badge">{{ album.track_count }}</span>>
                        {% if user.is_authenticated %}
                            <a class="btn btn-default btn-sm" aria-hidden="true" href="{% url 'music:albums:update' slug=album.slug %}{% query_builder request %}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-default btn-sm" aria-hidden="true" href="{% url 'music:albums:delete' album.slug %}{% query_builder request %}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        {% endif %}
                    </li>
                    {% empty %}
                    <li class="list-group-item">You have no albums</li>
                {% endfor %}
            </ul>
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{% url 'music:albums:list' %}{% query_builder request page=page_obj.previous_page_number %}">&lt;</a>
                        {% endif %}
                        {% for pn in paginator.page_range %}
                            {% if not forloop.first %}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                            {% endif %}
                            {% if page_obj.number != pn %}
                                <a href="{% url 'music:albums:list' %}{% query_builder request page=pn %}">
                            {% endif %}
                            {{ pn }}
                            {% if page_obj.number != pn %}
                                </a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="{% url 'music:albums:list' %}{% query_builder request page=page_obj.next_page_number%}">&gt;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
