{% extends '_layouts/base.html' %}

{% block title %}Deleting {{ object }}{% endblock %}

{% block headline %}<h2>Deleting {{ object }}</h2>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form action="" method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" value="Confirm" class="btn btn-default"/>
            </form>
        </div>
    </div>
</form>
{% endblock %}
