{% extends '_layouts/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <img src="{{ object.album_logo.url }}">
            <h1>{{ object.album_title }}</h1>
            <h2>{{ object.artist }}</h2>
            <form action="" method="post">{% csrf_token %}
                <ul class="list-group">
                    {% for song in object.songs.all %}
                        <li class="list-group-item">
                            <input type="radio" id="id_favorite_songs_{{ forloop.counter }}" name="favorite_song" value="{{ song.id }}" {% if forloop.counter == 1 %}checked{% endif %}/>
                            <label for="song{{ forloop.counter }}">
                                <a href="{{ object.get_absolute_url }}">{{ song.song_title }} - {{ song.file_type }}</a>
                                {% if song.is_favorite %}
                                    <img src="http://i.imgur.com/b9b13Rd.png"/>
                                {% endif %}
                            </label><br>
                        </li>
                        {% empty %}
                        <li class="list-group-item">Album has no songs</li>
                    {% endfor %}
                </ul>
                <input type="submit" value="Favorite" class="btn btn-default"/>
            </form>
            <a href="{% url 'album_list' %}">Albums</a>
        </div>
    </div>
{% endblock %}
