{% extends '_layouts/base.html' %}

{% block title %}All Albums{% endblock title %}

{% block headline %}<h2>All Albums</h2>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p><a href="{% url 'music:album_create' %}" class="btn">Create a new album</a></p>

            <ul class="list-group">
                {% for album in album_list %}
                    <li class="list-group-item">
                        {{ album }}
                        <span class="badge">{{ album.song_count }}</span>>

                        <a href="{{ album.get_absolute_url }}" class="btn btn-default btn-sm">View Details</a>

                        <form action="{% url 'music:album_delete' album.id %}" method="post" style="display: inline">
                            {% csrf_token %}
                            <input type="hidden" name="album_id" value="{{ album.id }}"/>
                            <button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                    </li>
                    {% empty %}
                    <li class="list-group-item">You have no albums</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
